@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@-webkit-keyframes mouseAnimation {
  0% {
    border-color: #fafafa;
  }
  50% {
    border-color: rgba(250, 250, 250, 0.8);
  }
  100% {
    border-color: rgba(250, 250, 250, 0.5);
  }
}
@keyframes mouseAnimation {
  0% {
    border-color: #fafafa;
  }
  50% {
    border-color: rgba(250, 250, 250, 0.8);
  }
  100% {
    border-color: rgba(250, 250, 250, 0.5);
  }
}

@-webkit-keyframes ballAnimation {
  0% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 0;
    top: 5px;
  }
  50% {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    opacity: 1;
    top: 40px;
  }
  100% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 0;
    top: 40px;
  }
}

@keyframes ballAnimation {
  0% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 0;
    top: 5px;
  }
  50% {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    opacity: 1;
    top: 40px;
  }
  100% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 0;
    top: 40px;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.hero {
  height: 75vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/chris-lawton-duQ1ulzTJbM-unsplash.jpg") no-repeat fixed center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/chris-lawton-duQ1ulzTJbM-unsplash.jpg") no-repeat fixed center/cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 33.33% 33.33% 33.33%;
      grid-template-rows: 33.33% 33.33% 33.33%;
}

.hero__inner {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  margin: 10px;
}

.hero__logo {
  -ms-grid-row: 1;
  grid-row: 1;
  height: 50%;
  margin: 0 auto;
}

.hero__text {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .hero__text {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 90em) {
  .hero__text {
    font-size: 3rem;
  }
}

.hero__scroller {
  -ms-grid-row: 3;
  grid-row: 3;
  height: 70px;
  width: 35px;
  margin: auto;
}

.hero__mouse {
  height: 100%;
  width: 100%;
  border: 5px solid;
  border-radius: 35px;
  position: relative;
  -webkit-animation: mouseAnimation 1s infinite alternate;
          animation: mouseAnimation 1s infinite alternate;
}

@media screen and (max-width: 39.9375em) {
  .hero__mouse {
    border: 3px solid;
  }
}

.hero__ball {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  -webkit-animation: ballAnimation 1.5s linear infinite;
          animation: ballAnimation 1.5s linear infinite;
}

.destinations {
  margin: 10px;
}

@media screen and (min-width: 90em) {
  .destinations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 10px 240px;
  }
}

.destinations__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.destinations__selector {
  height: 50px;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  border-radius: 25px;
  border: 2px solid gray;
  outline: none;
}

@media screen and (min-width: 40em) {
  .destinations__selector {
    padding-right: 10px;
  }
}

.destinations__location #locations {
  width: 100%;
}

.destinations__location #locations::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.destinations__location #locations:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.destinations__location #locations::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.destinations__location #locations::placeholder {
  color: black;
  opacity: 1;
}

.maps__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.maps__div {
  height: 75vh;
  border-radius: 15px;
}

@media screen and (min-width: 90em) {
  .maps__div {
    width: 50vw;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: black;
}

.footer__title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */