@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@-webkit-keyframes mouseAnimation {
  0% {
    border-color: #fafafa;
  }
  50% {
    border-color: rgba(250, 250, 250, 0.8);
  }
  100% {
    border-color: rgba(250, 250, 250, 0.5);
  }
}
@keyframes mouseAnimation {
  0% {
    border-color: #fafafa;
  }
  50% {
    border-color: rgba(250, 250, 250, 0.8);
  }
  100% {
    border-color: rgba(250, 250, 250, 0.5);
  }
}

@-webkit-keyframes ballAnimation {
  0% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 0;
    top: 5px;
  }
  50% {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    opacity: 1;
    top: 40px;
  }
  100% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 0;
    top: 40px;
  }
}

@keyframes ballAnimation {
  0% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 0;
    top: 5px;
  }
  50% {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    opacity: 1;
    top: 40px;
  }
  100% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 0;
    top: 40px;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 10px;
}

@media screen and (min-width: 90em) {
  .cards {
    margin: 60px 240px;
  }
}

.cards__card {
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 15px;
}

.cards__img {
  width: 100%;
  height: 125px;
  background: black;
  border-radius: 15px 15px 0 0;
}

.cards__info {
  padding: 0 5px;
}

.hero {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/chris-lawton-duQ1ulzTJbM-unsplash.jpg") no-repeat fixed center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/chris-lawton-duQ1ulzTJbM-unsplash.jpg") no-repeat fixed center/cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 33.33% 33.33% 33.33%;
      grid-template-rows: 33.33% 33.33% 33.33%;
}

.hero__inner {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  margin: 10px;
}

.hero__logo {
  -ms-grid-row: 1;
  grid-row: 1;
  height: 50%;
  margin: 0 auto;
}

.hero__text {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .hero__text {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 90em) {
  .hero__text {
    font-size: 3rem;
  }
}

.hero__scroller {
  -ms-grid-row: 3;
  grid-row: 3;
  height: 70px;
  width: 35px;
  margin: auto;
}

.hero__mouse {
  height: 100%;
  width: 100%;
  border: 5px solid;
  border-radius: 35px;
  position: relative;
  -webkit-animation: mouseAnimation 1s infinite alternate;
          animation: mouseAnimation 1s infinite alternate;
}

@media screen and (max-width: 39.9375em) {
  .hero__mouse {
    border: 3px solid;
  }
}

.hero__arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  -webkit-animation: ballAnimation 1.5s linear infinite;
          animation: ballAnimation 1.5s linear infinite;
}

.destinations__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin: 10px;
}

@media screen and (min-width: 90em) {
  .destinations__title {
    margin: 10px 240px;
  }
}

.destinations__selectors {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 10px;
}

@media screen and (min-width: 40em) {
  .destinations__selectors {
    grid-gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: 90em) {
  .destinations__selectors {
    width: 33%;
    margin: 10px 240px;
  }
}

.destinations__selector {
  -webkit-appearance: none;
  height: 50px;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  border-radius: 25px;
  outline: none;
}

@media screen and (min-width: 40em) {
  .destinations__selector {
    padding-right: 10px;
  }
}

.destinations__location {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.destinations__location #locations {
  width: 100%;
}

.destinations__filter {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.destinations__filter #filter {
  width: 100%;
}

.destinations__distance {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.destinations__distance #distance {
  width: 100%;
}

.maps {
  margin: 10px;
}

@media screen and (min-width: 90em) {
  .maps {
    margin: 10px 240px;
  }
}

.maps__div {
  height: 75vh;
  background-color: gray;
  border-radius: 15px;
}

.footer {
  height: 150px;
  background-color: black;
}
/*# sourceMappingURL=styles.css.map */