.destinations {
  // Map section
  margin: 10px;
  @include breakpoint-up(xlarge) {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 240px;
  }
  // Destination title
  &__title {
    font-family: $primaryFont;
    font-size: rem(32);
  }
  // Searchbar
  &__selector {
    height: 50px;
    font-size: rem(20);
    font-family: $primaryFont;
    padding-left: 10px;

    border-radius: 25px;
    border: 2px solid gray;

    outline: none;

    @include breakpoint-up(medium) {
      padding-right: 10px;
    }
  }

  &__location {
    #locations {
      width: 100%;

      &::placeholder {
        color: black;
        opacity: 1;
      }
    }
  }
}
