.destinations {
  &__title {
    font-family: $primaryFont;
    font-size: rem(32);
    margin: 10px;

    @include breakpoint-up(xlarge) {
      margin: 10px 240px;
    }
  }

  &__selectors {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;

    @include breakpoint-up(medium) {
      grid-gap: 0;
      display: flex;
      gap: 10px;
    }

    @include breakpoint-up(xlarge) {
      margin: 10px 240px;
    }
  }

  &__selector {
    -webkit-appearance: none;
    height: 50px;
    font-size: rem(20);
    font-family: $primaryFont;
    padding-left: 10px;

    border-radius: 25px;
    border: 2px solid gray;

    outline: none;

    @include breakpoint-up(medium) {
      padding-right: 10px;
    }
  }

  &__location {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    #locations {
      width: 100%;

      &::placeholder {
        color: black;
        opacity: 1;
      }
    }
  }

  &__filter {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    #filter {
      width: 100%;
    }
  }

  &__distance {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    #distance {
      width: 100%;
    }
  }
}
