.maps {
  // Map div
  &__title {
    font-family: $primaryFont;
    font-size: rem(32);
  }
  &__div {
    height: 75vh;
    border-radius: 15px;

    @include breakpoint-up(xlarge) {
      width: 50vw;
    }
  }
}
